@using Microsoft.Extensions.WebEncoders.Testing
@using MVC.Services
@model IEnumerable<CurrentCourse>
@{
    ViewData["Title"] = "Index";
    List<Course> courses = ViewBag.Courses;
}

<h3>My Course</h3>

<div>
    <table class="table" style="width: 100%; padding: 5px; text-align: center;">
        <caption style="caption-side: top; text-align: center; font-size: 1.8em; color: black;">My Courses</caption>
        <thead>
            <tr>
                <th>Course No.</th>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Type</th>
                <th>Teacher</th>
                <th>Course Time</th>
                <th>Credit</th>
                <th>Size Limits</th>
                <th>Registered Numbers</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurrentCourse currentCourse in Model)
            {
                var course = courses.FirstOrDefault(O => O.Id == currentCourse.Id);
                    <tr>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.CourseNo)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.Id)</td>
                        <td>@Html.DisplayFor(modelCourses => course.Name)</td>
                        <td>@Html.DisplayFor(modelCourses => course.Type)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.Teacher)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.Time)</td>
                        <td>@Html.DisplayFor(modelCourses => course.Credit)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.SizeLimits)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.RegisteredNumbers)</td>
                        <td>@Html.ActionLink("x", "DeleteCourse", new { courseNo = currentCourse.CourseNo }, new { @class = "close", @style = "color:red; float:none;" })</td>
                    </tr>
            }
        </tbody>
    </table>
</div>

<style>
    th, td {
        border-bottom: 1px solid #AAAAAA;
    }
</style>
