@using Microsoft.Extensions.WebEncoders.Testing
@using MVC.Services
@using MVC.Repos
@model CurrentCourse
@{
    ViewData["Title"] = "Index";
    List<Course> courses = ViewBag.Courses;
}

<h3>Course Management</h3>

<div>
    <form asp-action="AddCourse" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="display: inline; padding: 5px;">
            <label asp-for="Id">Course Name：</label>
            <select asp-for="Id" class="form-control col-lg-4" style="display: inline;">
                <option selected="selected"></option>
                @foreach (var course in courses)
                {
                    <option value="@course.Id">@course.Name</option>
                }
            </select>
        </div>
        <div class="form-group" style="display: inline; padding: 5px;">
            <label asp-for="Time">Course Time：</label><input asp-for="Time" class="form-control col-lg-1" style="display: inline;" />
        </div>
        <div style="margin: 3px;"></div>
        <div class="form-group" style="display: inline; padding: 5px;">
            <label asp-for="Teacher">Teacher：</label><input asp-for="Teacher" class="form-control col-lg-2" style="display: inline;" />
        </div>
        <div class="form-group" style="display: inline; padding: 5px;">
            <label asp-for="SizeLimits">Size Limits：</label><input asp-for="SizeLimits" class="form-control col-lg-1" style="display: inline;" />
        </div>
        <input type="submit" value="Add" class="btn btn-success" />
        <div>
            <span asp-validation-for="Id" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="Time" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="Teacher" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="SizeLimits" class="text-danger" style="display: block;"></span>
        </div>
    </form>
</div>
<div>
    <table class="table" style="width: 100%; padding: 5px; text-align: center;">
        <caption style="caption-side: top; text-align: center; font-size: 1.8em; color: black;">Current Course</caption>
        <thead>
            <tr>
                <th>Course No.</th>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Course Time</th>
                <th>Credit</th>
                <th>Size Limits</th>
                <th>Registered Numbers</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (CurrentCourse currentCourse in ViewBag.CurrentCourses)
                {
                    var course = courses.FirstOrDefault(O => O.Id == currentCourse.Id);
                    <tr>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.CourseNo)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.Id)</td>
                        <td>@Html.DisplayFor(modelCourses => course.Name)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.Teacher)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.Time)</td>
                        <td>@Html.DisplayFor(modelCourses => course.Credit)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.SizeLimits)</td>
                        <td>@Html.DisplayFor(modelCourses => currentCourse.RegisteredNumbers)</td>
                        <td>@Html.ActionLink("x", "DeleteCourse", new { courseNo = currentCourse.CourseNo }, new { @class = "close", @style = "color:red; float:none;" })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<style>
    th, td {
        border-bottom: 1px solid #AAAAAA;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

